server:
  port: 8080

spring:
  application:
    name: gateway-api
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: users-service
          uri: lb://users-service
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=2
        - id: movies-api
          uri: lb://movies-api
          predicates:
            - Path=/api/movies/**
          filters:
            - StripPrefix=2
        - id: ms-bills
          uri: lb://ms-bills
          predicates:
            - Path=/api/bills/**
          filters:
            - StripPrefix=2
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    enabled: true